//variables

$blue-light: #f2f5f8;
$blue-dark: #65abd0;
$white-text: #ffffff;
$grey-text: #c6ccd2;
$red-error: #FD7B64;

$fs-title: 40px;
$fs-btn: 18px;
$fs-form: 16px;
$fs-error: 12px;

$mw-form: 600px;

$font-face: 'Cabin', sans-serif;

$shadow-inset: 0 0 0 128px rgba(0, 0, 0, 0.4) inset;

$border-input: #c6ccd2 2px solid;

